@import './variables.scss';

.PokeList {
  display: inline-grid;
  padding: 50px;
  max-width: 1440px;

  .PokeListEntry--container {
    border: 1px solid transparent;
    border-radius: 10px;
    display: inline-flex;
    padding: 20px;

    &:hover {
      border-color: grey;
      background-color: #F3F3F3;
    }

    .PokeListEntry--info {
      align-self: center;
      width: 220px;
    }

    .PokeListEntry--name {
      font-size: 20px;
      text-transform: capitalize;

      sub {
        font-size: 10px;
      }
    }

    .PokeListEntry--types {
      .PokeListEntry--type-pill {
        border-radius: 5px;
        border: 1px solid transparent;
        font-weight: bold;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        width: 120px;
      }

      .bug { background-color: green; color: white; }
      .dark { background-color: $dark-purple; color: white; }
      .dragon { background-color: $light-pink; border-color: black; }
      .electric { background-color: yellow; }
      .fairy { background-color: pink; }
      .fire { background-color: red; color: white; }
      .fighting { background-color: $orange; color: white; }
      .flying { background-color: grey; color: white; }
      .ghost { background-color: $light-purple; border-color: black; }
      .grass { background-color: greenyellow; }
      .ground { background-color: $brown; color: white; }
      .ice { background-color: cyan; }
      .normal { background-color: white; border-color: black; }
      .rock { background-color: $black; color: white; }
      .steel { background-color: steelblue; color: white; }
      .psychic { background-color: $magenta; color: white; }
      .poison { background-color: purple; color: white; }
      .water { background-color: blue; color: white; }
    }
  }
}
